<div class="container p-5">
  <div class="mt-5 mb-5">
    <h1 class="text-center"><%= @employee.name %> ( <small><%= @employee.role %></small> ) </h1>
  </div>
  <div class="show-employee">
    <% @employee.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
    <% end %>
    <span>Número:</span>
    <p><%= @employee.pay_number %></p>
    <span>Nome Completo:</span>
    <p><%= @employee.name %></p>
    <span>Furigana:</span>
    <p><%= @employee.furigana %></p>
    <span>Endereço:</span>
    <p>Endereço: <%= @employee.address %></p>
    <div class="row justify-content-around" style="margin: 0;">
      <div>
        <span>Telefone:</span>
        <p><%= @employee.phone %></p>
        <div>
          <span>Email:</span>
        <p><%= @employee.email %></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-around" style="margin: 0;">
      <p>Cargo: <%= @employee.role %></p>
      <p>Level: <%= @employee.level_employee %></p>
    </div>
    <div class="row justify-content-around" style="margin: 0;">
      <p>Data Inicio: <%= @employee.started_date %></p>
      <p>Tempo de experiência: <%= @employee.job_exp %></p>
    </div>
  </div>
  <div class="row justify-content-around">
    <p>Licença 1: <%= @employee.licence1 ? 'Ok' : 'No' %></p>
    <p>Licença 2: <%= @employee.licence2 ? 'Ok' : 'No' %></p>
    <p>Licença 3: <%= @employee.licence3 ? 'Ok' : 'No' %></p>
    <p>Licença 4: <%= @employee.licence4 ? 'Ok' : 'No' %></p>
  </div>
  <div class="driver-licence">
    <p>Driver Licence: <%= @employee.licence5 ? 'Ok' : 'No' %> Venc. <%= @employee.drive_licence %></p>
  </div>
  <div class="row justify-content-around">
    <p>Passaporte: <%= @employee.passport %> - Venc. <%= @employee.passport_date %></p>
    <p>Zairyo Card: <%= @employee.document %> Venc. <%= @employee.document_date %></p>
  </div>
  <%= link_to 'Voltar', employees_path, class: ' btn btn-primary' %>
</div>
